<% if !user_signed_in? %>
	<%= link_to "Sign_in", new_user_session_path %>
<% else %>
	<% if @categories %>
		<div id='categories'>
			<table class="table table-striped text-left">
				<h4 class="text-center" style="color:#CDC9C9; padding:15px">Categories</h4>
				<thed>
					<tr>
						<th>name</th>
						<th>type of transaction</th>
						<th>actions</th>
					</tr>
				</thed>
				<tbody>
					<%= render partial: 'category', collection: @categories  %>
				</tbody>
			</table>
		</div>
		<div class="text-left"><%= link_to "Create new category", new_category_path %></div>
	<% else %>
		<h5 class="text-left">You need to create new category</h5>
	<% end %>
	<hr>
	<% if @transactions %>
		<h4 class="text-center" style="color:#CDC9C9; padding:15px">Transactions</h4>
		
		<div class="text-left">
			<%= link_to "Create new transaction", new_transaction_path %>
		</div>

		<%= render 'form_search' %>
		
		<% if @transactions %>
			<div id='transactions'>
				<table class="table table-striped text-left">
						<thed>
							<tr>
								<th>name of transaction</th>
								<th>type of transaction</th>
								<th>sum</th>
								<th>time of creation</th>
								<th>actions</th>
							</tr>
						</thed>
						<tbody>
							<%= render partial: 'transaction', collection: @transactions %>
						</tbody>
				</table>		
			</div>
		<% else %>
			<h5 class="text-center">No results</h5>
		<% end %>
	<% else %>
		<h5 class="text-left">Create new transaction</h5>
	<% end %>
<% end %>