<div style="padding: 30px" class="text-left">
	<%= bootstrap_form_with model: @category do |f| %>
		<%= hidden_field_tag :user_id, current_user.id %>
		<p><%= f.text_field :name, required: true, autofocus: true, placeholder: "category" %></p>
		<div class="text-uppercase">
			<%= f.radio_button :type_of_transaction, 'income', checked: true%>income  
			<%= f.radio_button :type_of_transaction, 'expense' %>expense
		</div>
	  <%= f.submit "Submit" %>
	<% end %>
</div>